<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <div th:replace="fragments/base :: head"></div>

    <title>Power Gomes</title>
</head>

<body>

    <header th:replace="fragments/base :: header"></header>
    <main>

        <h1 class="titulo">Cadastro do Jogo</h1>

        <form th:action="@{/jogo/salvar}" id="cadastro" method="post" th:object="${jogo}">
            <div class="mb-3">
                <label th:for="nome" class="form-label">Nome</label>
                <span id="aviso" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Dragon's Dogma">
            </div>
            <div class="mb-3">
                <label th:for="dataLancamento" class="form-label">Data Lançamento</label>
                <span id="aviso" th:if="${#fields.hasErrors('dataLancamento')}" th:errors="*{dataLancamento}"></span>
                <input type="date" class="form-control" id="dataLancamento" th:field="*{dataLancamento}">
            </div>
            <div class="mb-3 form-check">
                <label th:for="tipo" class="form-label">Gênero</label>
                <span id="aviso" th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}"></span>
                <input type="text" class="form-control" id="tipo" th:field="*{tipo}" placeholder="RPG">
            </div>
            <div class="mb-3 form-check">
                <label th:for="classificacao" class="form-label">Classificação Indicativa</label>
                <span id="aviso" th:if="${#fields.hasErrors('classificacao')}" th:errors="*{classificacao}"></span>
                <select id="classificacao" class="form-select" th:field="*{classificacao}">
                    <option th:value="0" selected>Livre</option>
                    <option th:value="10">10 anos</option>
                    <option th:value="12">12 anos</option>
                    <option th:value="14">14 anos</option>
                    <option th:value="16">16 anos</option>
                    <option th:value="18">18 anos</option>
                </select>
            </div>
            <div class="mb-3 form-check">
                <label th:for="valor" class="form-label">Preço</label>
                <span id="aviso" th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></span>
                <input type="number" class="form-control" id="valor" th:field="*{valor}">
            </div>
            <div class="mb-3 form-check">
                <label th:for="empresa" class="form-label">Publicadora</label>
                <span id="aviso" th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></span>
                <input type="text" class="form-control" id="empresa" th:field="*{empresa}" placeholder="Capcom">
            </div>
            <div class="mb-3 form-check">
                <label for="form-label">Descrição do Jogo</label>
                <span id="aviso" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
                <textarea th:field="*{descricao}" class="form-control" placeholder="Situado em um enorme mundo aberto, Dragon's Dogma: Dark Arisen apresenta uma recompensadora experiência de ação e combate. Os jogadores embarcam em uma aventura épica em um mundo rico e vivo com três companheiros de IA, conhecidos como Peões. Esses parceiros lutam de forma independente, demonstrando destreza e habilidade que desenvolveram com base nas características aprendidas de cada jogador. Os usuários de PC podem compartilhar esses peões online e colher recompensas de tesouros, dicas e dicas de estratégia para derrubar os inimigos aterrorizantes. Os peões também podem ser emprestados quando habilidades específicas são necessárias para completar várias missões desafiadoras." id="descricao" style="height: 100px"></textarea>
            </div>
            <div class="mb-3 form-check">
                <label th:for="imagem" class="form-label">URL da imagem</label>
                <span id="aviso" th:if="${#fields.hasErrors('imagem')}" th:errors="*{imagem}"></span>
                <input type="text" class="form-control" id="imagem" th:field="*{imagem}">
                <img id="img-forms" width="250" height="250">
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>

        </form>

    </main>

    <div th:replace="fragments/base :: footer-js"></div>
    <script th:src="@{/js/forms.js}"></script>

</body>

</html>